/* styles.css */
body {
    background-color: #e5d2c4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid #b16285;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin-top: 1px; /* Adicione este estilo para centralizar a imagem verticalmente */
    margin-left: 35%;
}

h1, h3 {
    text-align: center;
    color:#b16285;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

p {
    text-align: center;
    color: #2F2B31;
    font-family: 'Caveat', cursive;

}
