<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">

  <title>BIANCA KAROLINY - APRESENTAÇÃO </title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
<h1>BIANCA KAROLINY</h1>
<img src="https://avatars.githubusercontent.com/u/134089032?s=400&u=9fd5fef8bb15236468a178efb91494cef3cd84b3&v=4" alt="Bianca Karoliny" class="profile-img"> 

<H3>CURSO: Técnico em Desenvolvimento de Sistemas </H3> 

<H3>OBJETIVO PROFISSIONAL: </H3>
<p>Almejo desenvolver minha carreira como profissional de Front-end e Design, trabalhando remotamente a partir de casa. <br> Busco especializar-me nessa área,combinando habilidades  
técnicas sólidas com uma compreensão profunda  dos  princípios <br> de design, visando contribuir de forma significativa para projetos inovadores e impactantes.</p>
<H3>HOBBIES: </H3>
<p>Desenvolvimento de Projetos Pessoais;<br>
  Participação em Comunidades Online;<br>
  Exploração de Novas Tecnologias;<br>
  Design de Interfaces e UX;<br>
  Aprendizado Contínuo;<br>
  Participação em  Eventos de Tecnologia;<br>
  Exploração de Ferramentas de Design;</p>






<H3>CONTATO LINKEDIN: </H3> 

<!-- Botão para o LinkedIn -->
<a href="https://www.linkedin.com/in/bianca-karoliny-596544272/" target="_blank">
  <button style="background-color: #0077B5; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; margin-left: 1%;">
    Visite meu LinkedIn!
  </button>
</a>



<H3>GITHUB: </H3> 

<!-- Botão para o GitHub -->
<a href="https://github.com/biancacoders" target="_blank">
  <button style="background-color: #24292E; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; margin-left: 1%;">
    Visite meu GitHub!
  </button> <br> 
</a>





</body>
</html>


<router-outlet />
